[user]
	name = Kwasi Kattah
	email = kwasi@kattah.nl

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[alias]
	ca = commit -a
	s = status
[pull]
	rebase = true
[init]
	defaultBranch = main
[push]
	default = current
[core]
	autocrlf = input
	eol = lf
